name: Fraud Detection MLOps CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Lint code (flake8)
      run: |
        pip install flake8
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    - name: Run unit tests
      run: |
        if [ -d "tests" ]; then
          pytest
        else
          echo "No tests directory found. Skipping tests."
        fi

    - name: Validate training pipeline (import check)
      run: |
        python - <<EOF
        import importlib
        modules = [
            "training.train",
            "training.retrain",
            "src.app"
        ]
        for m in modules:
            importlib.import_module(m)
        print("Training & API modules imported successfully")
        EOF
