name: Docker CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/fraud-detection:latest .

      - name: Run container smoke test
        run: |
          docker run -d -p 8000:8000 --name fraud_test ${{ secrets.DOCKER_USERNAME }}/fraud-detection:latest
          sleep 5
          curl http://localhost:8000 || exit 1
          docker stop fraud_test
          docker rm fraud_test

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/fraud-detection:latest
